<% for(var i = 0; i < hearings.length; i++) { %>
<tr> 
    <td><%= hearings[i].CIN%></td>
    <td><%= hearings[i].cname%></td>
    <td><%= hearings[i].time%></td>
    <td><%= hearings[i].reason%></td>
    <td><%= hearings[i].presidingJudge%></td>
    <td><%= hearings[i].prosecutor%></td>
    
</tr>
<% } %>