<% for(var i = 0; i < judges.length; i++) { %>
<tr> 
    <td><%= judges[i].jno%></td>
    <td><%= judges[i].jname%></td>
    <td><%= judges[i].leaveFrom%></td>
    <td><%= judges[i].leaveTill%></td>
    <td><%= judges[i].nature%></td>
    
</tr>
<% } %>