<% for(var i = 0; i < summarys.length; i++) { %>
<tr> 
    <td><%= summarys[i].CIN%></td>
    <td><%= summarys[i].cname%></td>
    <td><%= summarys[i].section%></td>
    <td><%= summarys[i].pjudge%></td>
    <td><%= summarys[i].dlawyer%></td>
    <td><%= summarys[i].pprosecutor%></td>
    <td><%= summarys[i].csummary%></td>
    
</tr>
<% } %>